shieldvpn.ru {
    log

    # Используем директиву handle, которая не меняет URI
    handle /vless-ws* {
        # reverse_proxy просто указывает на адрес Xray.
        # Он передаст URI /vless-ws без изменений.
        reverse_proxy vpn_xray:10000
    }

    # Все остальные запросы будут обработаны здесь.
    # Это будет нашей "заглушкой".
    handle {
        respond "Welcome." 200
    }

    tls jacob.tokarev@icloud.com
}