shieldvpn.ru {
    # Включаем логирование
    log

    # Отдаем простую страницу-заглушку, чтобы ваш домен не выглядел пустым
    @fallback not path /vless-ws*
    handle @fallback {
        respond "Hello! This is a private server." 200
    }

    # Перенаправляем запросы по секретному пути на Xray
    handle_path /vless-ws* {
        reverse_proxy vpn_xray:10000 {
            transport http {
                versions h1
            }
        }
    }

    # Включаем автоматическое управление TLS-сертификатами
    tls jacob.tokarev@icloud.com
}